* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fffCE5;
    font-family: "Open Sans", sans-serif;
}

h1, #section11 h2 {
    color: #002D7C;
    font-size: 0.9rem;
    font-weight: 600;
}

h2 {
    color: #fff;
}

a {
    text-decoration: none;
}

main {
    padding-bottom: 30px;
}

.container {
    margin: 0px auto;
}

/* ---------------------- Seção 01 ------------------ */
#section01 {
    width: 100%;
}

.row {
    width: 100%;
}

.box {
    background: #707070;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
}

.box-content {
    margin-top: 20px;
}

#section01 .container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-box {
    height: 470px;
}

.aside-box {
    width: 100%;
    height: 210px;
}

.aside-box h2 {
    font-size: 1.2rem;
}

/* --------------------- Seção 03 ------------ */
#section03, #section05, #section06, #section08, #section11 {
    margin-top: 90px;
}

.small-box {
    display: flex;
}

.small-box .box {
    height: 180px;
}

.small-box h2, #section11 h3 {
    color: #000;
    font-size: 1.2rem;
    margin: 0;
}

.small-box h1 {
    margin: 0;
}

.text {
    margin-left: 10px;
}

.text p {
    color: #000;
    opacity: 0.7;
}

#right h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#right a {
    text-decoration: none;
}

.notice-content {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.notice-content h2 {
    color: #002D7C;
    font-weight: bold;
}

.notice-content i, .legend i {
    color: #E4561B;
    width: 10px;
    margin: 0px 10px 0px 5px;
    position: relative;
    bottom: 5px;
}

.notice-content h3 {
    color: #000;
    font-size: 1.2rem;
}

/* -------------- Seção 05 ---------- */
#section05 .row, #section11 .row {
    display: flex;
    align-items: center;
}

#section05 .left {
    margin-right: 30px;
}

#ads05, #ads11 {
    background: #B1CDFF;
    height: 400px;
    border-radius: 10px;
}

/* ----------------- Seção 06 ------------------- */
#section06 .box-content .main-box {
    height: 400px;
}

#section06 .main-box .text h2{
    color: #000;
    font-weight: bold;
}

#section06 .text h2 {
    margin: 10px 0px 0px;
    color: #002D7C;
    font-size: 1.1rem;
}

#section06 .text h3 {
    color: #000;
    font-size: 1.0rem;
}

#section06 aside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#section06 aside .box-content {
    width: 45%;
}

/* ------------------- Seção 08 -------------- */
#section08 {
    padding-top: 40px;
    background: #F5F5F5;
}

#section08 .title h1 {
    background: #F5F5F5;
}

#colunistas, #programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px auto;
}

.perfil {
    margin-right: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil .img {
    width: 120px;
    height: 120px;
    background: #E4561B;
    border-radius: 200px;
}

.perfil p {
    margin: 10px 0px 0px;
    font-weight: bold;
}

.perfil i {
    color: #000;
    margin: 5px;
}

/* ------------- Seção 10 --------------- */
#section10 {
    padding: 30px 0;
}

#programas {
    width: 100%;
}

.programa {
    text-decoration: none;
    width: 22%;
}

.programa .img {
    width: 100%;
    height: 150px;
    background: #E4561B;
}

.legend {
    margin: 10px 0px 30px;
    display: flex;
    align-items: center;
    position: relative;
    right: 5px;
}

.legend h2 {
    color: #000;
    font-size: 0.7rem;
    font-weight: bold;
}

.legend i {
    position: relative;
    bottom: 4px;
    padding: 0;
}

/* -------------- Seção 11 --------------- */
#section11 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background: #002D7C;
    margin-left: 7%;
    margin-bottom: 30px;
}

.title h1{
    font-size: 1.5rem;
    color: #000;
    font-weight: bolder;
    background: #fffCE5;
    width: fit-content;
    padding-right: 30px;
}

#section11 .btn {
    font-size: 0.9rem;
    margin: 0px auto;
}

#section11 .btn i {
    margin-left: 5px;
}

/* -------------------- Footer ---------- */

footer {
    padding: 20px;
    background: #000;
    color: #fff;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p1 {
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 25%;
}

.logo h1 {
    color: #fff;
    font-weight: bolder;
    margin-left: 10px;
    font-size: 1.5rem;
}

footer .btn {
    width: 250px;
}

.btn {
    background: #002D7C;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 1s;
}

.btn:hover {
    background: rgba(0, 45, 124, 0.5);
}

.btn i {
    margin-right: 5px;
}

footer .icons i {
    margin-right: 20px;
    width: 30px;
}

#p2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    text-decoration: none;
    border-right: 1px solid #fff;
    padding: 0px 15px;
    color: #fff;
}

footer hr {
    width: 90%;
}