
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fffce5;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 85%;
  margin: 0px auto;
}

.box {
  background: #707070;
  width: 70px;
}
